({:comment 207,
  :code 295,
  :blank 92,
  :path "obe\\cljgui\\scene\\core.clj",
  :series "../spork/"}
 {:code 128,
  :blank 21,
  :comment 19,
  :path "src\\spork\\sim\\pure\\test.clj",
  :series "../spork/"}
 {:comment 86,
  :code 203,
  :blank 49,
  :path "src\\spork\\cljgraph\\jungapi.clj",
  :series "../spork/"}
 {:comment 13,
  :blank 5,
  :code 81,
  :path "src\\spork\\util\\zip.clj",
  :series "../spork/"}
 {:comment 25,
  :code 188,
  :blank 23,
  :path "src\\spork\\util\\parsing.clj",
  :series "../spork/"}
 {:code 35,
  :blank 10,
  :comment 4,
  :path "orgtest.clj",
  :series "../spork/"}
 {:comment 18,
  :code 78,
  :blank 19,
  :path "src\\spork\\opt\\optimization.clj",
  :series "../spork/"}
 {:comment 25,
  :code 195,
  :blank 25,
  :path "src\\spork\\util\\numerics.clj",
  :series "../spork/"}
 {:comment 41,
  :code 155,
  :blank 26,
  :path "src\\spork\\trends.clj",
  :series "../spork/"}
 {:comment 55,
  :code 401,
  :blank 56,
  :path "src\\spork\\cljgraph\\arrayflow.clj",
  :series "../spork/"}
 {:comment 50,
  :blank 48,
  :code 213,
  :path "src\\spork\\protocols\\core.clj",
  :series "../spork/"})
